Repository gileadraab/progressive-overload-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

.pre-commit-config.yaml:

repos:
  # Python code formatting
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]

      # Import sorting
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        args: ["--profile", "black"]

      # Linting
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]

      # Type checking
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: ^src/
        pass_filenames: false
        args: ["src/"]

  # General file fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: detect-private-key

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]

ci: add GitHub Actions workflow for tests and linting
  .github/workflows/ci.yml
Due: none

ci: configure tests to use PostgreSQL in CI workflow
  .github/workflows/ci.yml
  tests/conftest.py
Due: black, isort, flake8

fix: add deterministic ordering to template queries
  src/services/template_service.py
Due: black, isort, flake8, mypy

fix: migrate Dockerfile from pip to Poetry
  Dockerfile
Due: none

ci: add Docker build and integration test workflow
  .github/workflows/docker.yml
Due: none

docs: enhance API metadata and add CORS configuration
  src/main.py
Due: black, isort, flake8, mypy

docs: add request/response examples to Pydantic schemas
  src/schemas/exercise.py
  src/schemas/session.py
  src/schemas/set.py
  src/schemas/template.py
  src/schemas/user.py
Due: black, isort, flake8, mypy

style: apply black and isort formatting to migrations
  .env.example
  migrations/README
  migrations/env.py
  migrations/versions/6aaffe864b1c_add_notes_field_to_session_model.py
  migrations/versions/be0a97f219e8_add_order_fields_to_exercisesession_and_.py
  migrations/versions/f633ad21cbdd_add_description_field_to_template_model.py
Due: black, isort, flake8

docs: enhance API documentation with request/response examples
  DOCKER_EXPLANATION.md
  src/schemas/exercise.py
  src/schemas/session.py
  src/schemas/template.py
  src/schemas/user.py
Due: black, isort, flake8, mypy

perf: add database connection pooling configuration
  .gitignore
  src/database/database.py
  src/logging_config.py
  src/main.py
Due: black, isort, flake8, mypy

docs: add comprehensive project documentation
  DEVELOPMENT.md
  Dockerfile
  Makefile
  README.md
  alembic.ini
  backend/README.md
  mypy.ini
  poetry.lock
  pyproject.toml
  pytest.ini
  setup.sh
Due: none

feat: add authentication fields to User model and dependencies
  backend/migrations/versions/ca2890303be8_add_authentication_fields_to_user_model.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/models/user.py
  backend/src/schemas/user.py
Due: black, isort, flake8

feat: add authentication service layer with JWT and password hashing
  .env.example
  backend/src/config.py
  backend/src/schemas/__init__.py
  backend/src/schemas/auth.py
  backend/src/services/__init__.py
  backend/src/services/auth_service.py
Due: black, isort, flake8

feat: add authentication router with register, login, and refresh endpoints
  backend/pyproject.toml
  backend/src/main.py
  backend/src/routers/auth.py
Due: black, isort, flake8

feat: add authentication middleware and protect routes
  backend/migrations/versions/deed8a0b948e_add_is_global_field_to_templates_and_.py
  backend/src/dependencies/__init__.py
  backend/src/dependencies/auth.py
  backend/src/models/template.py
  backend/src/routers/sessions.py
  backend/src/routers/templates.py
  backend/src/routers/users.py
  backend/src/schemas/template.py
  backend/src/services/template_service.py
Due: black, isort, flake8

feat: remove POST /users endpoint, use /auth/register instead
  backend/src/routers/users.py
  backend/tests/conftest.py
Due: black, isort, flake8

Protect exercise history endpoint with authentication
  backend/docs/API.md
  backend/src/routers/exercises.py
Due: black, isort, flake8

docs: update documentation to reflect completed authentication system
  README.md
  backend/docs/DATABASE.md
Due: none

fix: use string type for JWT subject claim per RFC 7519
  backend/src/routers/auth.py
  backend/src/services/auth_service.py
  backend/tests/conftest.py
Due: black, isort, flake8

fix: downgrade bcrypt to 4.1.3 for passlib compatibility
  backend/poetry.lock
  backend/pyproject.toml
Due: none

test: add comprehensive workflow tests for authentication
  backend/tests/test_api/__init__.py
  backend/tests/test_api/test_end_to_end.py
  backend/tests/test_api/test_exercises.py
  backend/tests/test_api/test_ordering.py
  backend/tests/test_api/test_sessions.py
  backend/tests/test_api/test_templates.py
  backend/tests/test_api/test_users.py
  backend/tests/test_services/__init__.py
  backend/tests/test_services/test_exercise_service.py
  backend/tests/test_services/test_exercise_session_service.py
  backend/tests/test_services/test_session_service.py
  backend/tests/test_services/test_set_service.py
  backend/tests/test_services/test_template_service.py
  backend/tests/test_services/test_user_service.py
  backend/tests/test_workflow.py
Due: black, isort, flake8

refactor: remove session reorder endpoint to maintain immutability
  backend/src/routers/sessions.py
  backend/src/services/session_service.py
  backend/tests/test_workflow.py
Due: black, isort, flake8

feat: update SessionUpdate schema to accept full session structure
  backend/src/schemas/session.py
Due: black, isort, flake8

feat: implement full session replacement in update_session service
  backend/src/services/session_service.py
Due: black, isort, flake8

docs: update PUT /sessions/{id} endpoint documentation
  backend/src/routers/sessions.py
Due: black, isort, flake8

test: add session editing scenario to workflow tests
  backend/tests/test_workflow.py
Due: black, isort, flake8

docs: update documentation for session editing feature
  README.md
  backend/docs/API.md
  backend/docs/DATABASE.md
Due: none

chore: remove DOCKER_EXPLANATION.md from version control
  DOCKER_EXPLANATION.md
Due: none

chore: add DOCKER_EXPLANATION.md to .gitignore
  .gitignore
Due: none

refactor: simplify session update to always require full replacement
  backend/docs/API.md
  backend/src/routers/sessions.py
  backend/src/schemas/session.py
  backend/src/services/session_service.py
Due: black, isort, flake8

fix: correct order fields migration to use add_column instead of alter_column
  backend/migrations/versions/be0a97f219e8_add_order_fields_to_exercisesession_and_.py
Due: black, isort, flake8

fix: correct authentication migration to only add fields not recreate tables
  backend/migrations/versions/ca2890303be8_add_authentication_fields_to_user_model.py
Due: black, isort, flake8

fix: add server_default to is_global field migration for NOT NULL constraint
  backend/migrations/versions/deed8a0b948e_add_is_global_field_to_templates_and_.py
Due: black, isort, flake8

chore: add database seed script for sample data
  backend/seed_database.py
Due: black, isort, flake8

docs: add CHANGELOG for v1.0.0 release
  CHANGELOG.md
Due: none
